/* unitlity css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
    min-width: 99vw;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.description {
    opacity: 0.8;
}
.btn{
  border: none;
  background-color: blue;
  color:white;
}
.btn:hover{
  background-color:blueviolet;
}
